body {
  min-height: 100vh;
  margin: 0;

  background-image: url("../images/tongue.webp");
  background-repeat: repeat;
  background-size: 600px 400px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-text {
  width: 100%;
  max-width: 420px; /* controls line length */
  text-align: center;
}

.main-text h1 {
  font-size: 3rem;
  color: cornflowerblue;
  font-weight: bolder;
}

.text-content {
  text-align: center;
}

.text-content h1,
.text-content p {
  margin: 0 auto;
}

.text-content p {
  font-size: 1.5rem;
  color: whitesmoke;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.back-arrow {
  font-size: 1.5rem;
  color: whitesmoke;
}
